// File: nextflow.config
workDir = '/work'

profiles {

    k8s {
        process.executor = 'k8s'
        
        k8s {
            namespace = 'abim'
            storageClaimName = System.getenv('K8S_PVC_NAME') ?: 'nextflow-work-pvc'
            storageMountPath = '/work'
        }

        aws {
            client {
                endpoint = System.getenv('MINIO_ENDPOINT') ?: 'http://localhost:9000'
                pathStyleAccess = true
                protocol = 'http'
            }
            region = 'us-east-1'
        }
    }

    local {
        process.executor = 'local'
    }
}

params.run_id = null