// File: nextflow.config (Corrected)
workDir = '/work'

profiles {

    k8s {
        process.executor = 'k8s'
        
        k8s {
            namespace = 'abim'
            storageClaimName = System.getenv('K8S_PVC_NAME') ?: 'nextflow-work-pvc'
            storageMountPath = '/work'
            
            pod {
                envFrom {
                    secret "abim-flow-run-${params.run_id}-s3-creds"
                }
            }
            // ----------------------------------------------------
        }

        aws {
            region = 'us-east-1'
        }
    }

    local {
        process.executor = 'local'
    }
}

params.run_id = null