aws {
    client {
        endpoint = 'http://minio:9000' // Example: Use your actual S3 service endpoint URL.
        s3PathStyleAccess = true
    }
}

profiles {
    k8s {
        process.executor = 'k8s'

        process.container = 'ubuntu:22.04'

        k8s.namespace = 'abim'

    }

    local {
        process.executor = 'local'
    }
}
